[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "*"
plotly = "*"
numpy = "*"
django-bootstrap5 = "*"
django-debug-toolbar = "*"
pandas = "*"
django-pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
