{% extends "register/base.html" %}
{% block content %}
<!-- ログインエリア -->
<div class="card mb-3">
  <div class="card-body">
    <form action="{% url 'register:login' %}" method="POST">
      {{ form.non_field_errors }}
      {% for field in form %}
      {{ field }}
      {{ field.errors }}
      <hr>
      {% endfor %}
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-light btn-lg">ログイン</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      {% csrf_token %}
    </form>
  </div>
</div>
<!-- 会員登録、パスワード忘れ -->
<div class="card">
  <div class="card-body">
    <p><a href="{% url 'register:user_create' %}" class="btn btn-light btn-lg mb-3"
        style="display: block; text-align: center;">会員登録</a></p>
    <p><a href="{% url 'register:password_reset' %}" class="btn btn-light btn-lg"
        style="display: block; text-align: center;">パスワードを忘れた方</a></p>
  </div>
</div>



<!-- 右側、会員登録エリア -->
<!-- <div class="card col-md-6"> -->
<!-- </div>右側、会員登録エリアおわり -->
<!-- </div> -->
{% endblock %}