{% extends 'study/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<h3 style="text-align: center">学習状況</h3>

<p><a href="">今日の学習状況を記録する</a></p>
<P>2021年10月1日</P>
<div class="row mb-3">
  <select class="col-md-4">
    <option value=""> </option>
    <option value="">国語</option>
    <option value="">算数</option>
    <option value="">英語</option>
    <option value="">理科</option>
    <option value="">社会</option>
  </select>
  <input type="text" class="col-md-4">
  分
</div>
<button type="submit" class="btn btn-dark mr-10">　 　保　存　 　</button>

<p><a href="">学習状況をここに表示する</a></p>

<p>テキスト</p>
<div class="row">
  <div class="col-md-2 d-flex align-items-center justify-content-center">
    国語
  </div>
  <div class="d-flex align-content-stretch flex-wrap col-md-10">
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">1</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">2</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">3</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">4</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">5</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">6</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">7</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">8</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 d-flex align-items-center justify-content-center">
    数学
  </div>
  <div class="d-flex align-content-stretch flex-wrap col-md-10">
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">1</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">2</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">3</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">4</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">5</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">6</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">7</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">8</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">9</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 d-flex align-items-center justify-content-center">
    英語
  </div>
  <div class="d-flex align-content-stretch flex-wrap col-md-10">
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">1</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">2</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">3</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">4</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">5</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">6</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">7</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">8</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">9</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 d-flex align-items-center justify-content-center">
    理科
  </div>
  <div class="d-flex align-content-stretch flex-wrap col-md-10">
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">1</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">2</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">3</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">4</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">5</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">6</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 d-flex align-items-center justify-content-center">
    社会
  </div>
  <div class="d-flex align-content-stretch flex-wrap col-md-10">
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">1</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">2</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">3</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">4</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">5</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">6</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">7</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">8</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">9</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">10</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">1</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">2</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">3</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">4</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">5</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">6</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">7</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">8</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">9</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">10</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">1</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">2</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">3</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">4</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">5</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">6</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">7</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">8</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">9</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">10</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">1</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">2</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">3</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">4</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">5</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">6</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">7</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">8</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">9</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">10</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">1</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">2</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">3</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">4</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">5</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">6</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">7</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">8</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">9</div>
    <div class="flex-fill border bd-highlight d-flex align-items-center justify-content-center">10</div>

  </div>
</div>



<h3 style="text-align: center">テスト結果</h3>

<p><a href="">テスト結果を記録する</a></p>
<p><a href="">テスト結果をここに表示する</a></p>






{% endblock %}